<style>
    .modal-content{
        width: 1000px;
        padding: 0;
    }

    .close-modal-x{
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .light-border{
        border: 1px solid #333;
    }
</style>
<div class="modal-header" style="background-color: #33CCCC;">
    <h5 class="modal-title" style="color: whitesmoke" ng-bind-html="modalTitle">Chi tiết trạm</h5>
    <button type="button" class="close close-modal-x" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
<div id="demo11" class="collapse in from-search">
                        <div class="clearfix">
                            <div class="form-group col-md-6">
                                <label class="col-md-4 control-label" translate>Mã trạm</label>
							<div class="col-md-8" ng-enter="vm.doSearchStation()">
								<input
									class=" form-control width100" type="text"
									ng-model="vm.searchFormS.vccCode" id="province"
									name="province" />
							</div>
                            </div>
                           
                        
                        <div class="clearfix form-actions margin-top">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <button type="button" id="doSearch"
                                            class="btn btn-qlk padding-search-right  noteQLK"
                                            ng-click="vm.doSearchStation()" translate>Tìm kiếm
                                    </button>
                                    <button type="button" id="excel"
                                            class="btn btn-qlk padding-search-right  excelQLK"
                                            ng-click="vm.exportFile()" translate>Xuất excel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
    <div class="collapse in from-search">
        <div class="clearfix">
            <div class="form-group row">
                <div class="collapse in from-search">
                    <div class="clearfix position-relative">
                        <div kendo-grid="vm.gridDetail" k-editable="false"
                             k-options="vm.gridByDetail"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="$dismiss()">
        <i class="fa fa-ban"></i> Đóng
    </button>
</div>
