<style>
    .control-label-custom{
        text-align: left;
    }
    .text-breadcrumb  {
        padding-left: 10px;
        font-size: 12px;
    }
    .caption-body {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }
    .caption-title {
        font-size: 16px;
        color: #000000;
        font-style: normal;
    }
    .amcharts-chart-div a {
        display: none !important;
    }
    .icon-table{
        font-size: 20px;
        padding: 5px;
        color: #E0D014;
        text-align:center;
    }
    i:hover{
        color: #011995;
    }

    .mt5{
        margin-top: 5px;
    }

    .display-block{
        width: 100%;
    }

    .caption-tit{
        color: #666;
        font-size: 14px;
    }

    #woManagementContainer .form-group{
        margin-left: 0;
        margin-right: 0;
    }

    #woManagementContainer .control-label-custom{
        padding-left: 5px;
        padding-right: 5px;
    }
</style>
<div id="woManagementContainer" data-ng-controller="woHcqtManagementController as vm">
    <p class="text-breadcrumb" ng-bind-html="vm.breadcrumb"></p>
    <form class="form-horizontal row" role="form" id="chartReportSearch">

        <div class="form-body">
            <div class="portlet light bordered">
                <div class="portlet-title background-title">
                    <div class="caption-body">
						<span class="caption bold lowercase caption-tit" translate>Thông tin tìm kiếm </span>
                        <i data-toggle="collapse" data-target="#searchWoForm"
                           class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                    </div>
                </div>
                <div id="searchWoForm" class="collapse in from-search">
                    <div class="clearfix position-relative">

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="col-md-4 control-label-custom" translate>Thông tin WO</label>
                                <div class="col-md-8">
                                    <input placeholder="Nhập Mã WO"
                                           class=" form-control width100" type="text"
                                           ng-model="vm.searchForm.keySearch" />
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                <label class="col-md-4 control-label-custom" translate>Trạng thái HCQT</label>
                                <div class="col-md-8">
                                    <select class="form-control display-block" ng-model="vm.searchForm.checklistStep" ng-options="hcqtStep.checklistStep as hcqtStep.stepText for hcqtStep in hcqtSteps">
                                        <option></option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                <label class="col-md-4 control-label-custom" translate>Mã trạm HCQT</label>
                                <div class="col-md-8">
                                    <input class="form-control display-block" type="text"
                                           k-options="autoCompleteStationOptions" kendo-auto-complete
                                           ng-model="vm.searchForm.stationCode" id="autoCompleteStation" />
                                </div>
                            </div>

                        </div>
                        <div class="row">

                            <!--<div class="form-group col-md-4">-->
                                <!--<label class="col-md-4 control-label-custom" translate>Ngày tạo</label>-->
                                <!--<div class="col-md-8">-->
                                    <!--<input kendo-date-picker k-format="'dd/MM/yyyy'"-->
                                           <!--name="createdDate" id="createdDate"-->
                                           <!--ng-model="vm.searchForm.createdDate" style="width: 100%;"-->
                                           <!--min-year="1000" date-time />-->
                                <!--</div>-->
                            <!--</div>-->

                            <div class="form-group col-md-4">
                                <label class="col-md-4 form-horizontal control-label-custom " translate>Hợp đồng HCQT</label>
                                <div class="col-md-8">
                                    <input class="form-control display-block" type="text" ng-model="vm.searchForm.hcqtContractCode" />
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                <label class="col-md-4 form-horizontal control-label-custom " translate>Dự án HCQT</label>
                                <div class="col-md-8">
                                    <select class="form-control display-block" ng-model="vm.searchForm.hcqtProjectId" ng-options="project.hcqtProjectId as project.name for project in hcqtProjects">
                                        <option></option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                <label class="col-md-4 form-horizontal control-label-custom" translate>Người thực hiện</label>
                                <div class="col-md-8">
                                    <input class="form-control display-block" type="text"
                                           k-options="autoCompleteFTOptions" kendo-auto-complete
                                           ng-model="vm.searchForm.ftName" maxlength="200" />
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="col-md-4 control-label-custom" translate>Mã tỉnh</label>
                                <div class="col-md-8">
                                    <input class="form-control display-block" type="text" ng-model="vm.searchForm.catProvinceCode"  />
                                </div>
                            </div>
                        </div>

                        <div class="clearfix form-actions margin-top">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <button type="button" id="doSearchQuantity"
                                            ng-click="vm.doSearch()"
                                            class="btn btn-qlk padding-search-right searchQLK" translate>Tìm  kiếm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="portlet light bordered">
        <div class="portlet-title background-title">
            <div class="caption">
                <div class="caption">
                    <span class="caption bold lowercase caption-tit" style="padding-left: 10px;" translate>Kết quả tìm kiếm
                        <!--<label class="control-label bold lowercase" id="appCount">{{vm.count}}</label>-->
                        <!--<label class="control-label bold lowercase">&nbsp;bản ghi</label>-->
					</span>
                    <!--<i class="fa fa-chevron-down"></i>-->
                </div>
            </div>
        </div>
        <div class="row mt5">
            <div class="col-md-12">
                <div ng-if="permissions.createWOHcqt || permissions.updateWOHcqt" class="pull-left" style="margin-left: 5px;">
                    <button ng-if="permissions.createWOHcqt" type="button" ng-click="vm.openTabCreateNewWO()" class="btn btn-qlk fa fa-plus-circle padding-search-right" translate> Tạo mới WO</button>
                    <button type="button" ng-click="vm.importHCQTWOFromFile()" class="btn btn-qlk excelQLK padding-search-right" style="width:120px"; translate> Import HCQT</button>
                    <button ng-if="permissions.createWOHcqt" type="button" ng-click="vm.downloadHCQTTemplate()" class="btn btn-qlk excelQLK padding-search-right" style="width:130px"; translate> Template HCQT</button>
                    <input class="file-input" #file name="files" type="file" id="hcqtFile" tabindex="10" style="display: none"  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
                </div>

                <div class="btn-group pull-right margin_top_button ">
                    <i data-toggle="dropdown" class="tooltip1" aria-expanded="false"><span class="tooltipArrow"></span><span class="tooltiptext">Cài đặt</span><i class="fa fa-cog" aria-hidden="true"></i></i>
                    <i id="xuatExcel" class="tooltip1 action-button excelQLK" ng-disabled="vm.disableExportExcel" ng-click="vm.exportWoHcqtExcel()"  aria-expanded="false"><span class="tooltipArrow"></span><span class="tooltiptext">Xuất Excel</span></i>
                    <div uib-tooltip="Ẩn/hiện cột" class="dropdown-menu hold-on-click dropdown-checkboxes workItemHide" role="menu">
                        <label ng-repeat="column in vm.dataWOListTable.columns.slice(1,vm.dataWOListTable.columns.length)| filter: vm.gridColumnShowHideFilter">
                            <input type="checkbox" checked="column.hidden" ng-click="vm.showHideColumn(column)"> {{column.title}}</label></div></div>
            </div>
        </div>

        <div id="grid" class="collapse in from-search">
            <div class="clearfix position-relative">
                <div id="dataWOListTable" kendo-grid="vm.dataWOListTable" k-options="vm.dataWOListTableOptions"></div>
            </div>
        </div>
    </div>
</div>
