<style>
    .modal-content{
        width: 100%;
        padding: 0;
    }

    .close-modal-x{
        position: absolute;
        top: 6px;
        right: 6px;
    }
</style>

<!-- Tài chính duyệt Modal -->

<div class="modal-header" style="background-color: #33CCCC;">
    <h5 class="modal-title" ng-if="permissions.approveTcBranch">Tài chính trụ duyệt</h5>
    <h5 class="modal-title" ng-if="permissions.approveTcTct">Ghi nhận tổng công ty duyệt</h5>
    <button type="button" class="close close-modal-x" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="collapse in from-search">
        <div class="clearfix position-relative">
            <div class="clearfix">
                <div class="form-group row">
                    <div class="col-md-6">
                        <input type="radio" name="okOrNotGood" ng-value="true" value="true" ng-model="confirmWO.isWoDoneOk"> Duyệt
                    </div>
                    <div class="col-md-6">
                        <input type="radio" name="okOrNotGood" ng-value="false" value="false" ng-model="confirmWO.isWoDoneOk"> Từ chối
                    </div>
                    <div class="col-md-12" ng-if="confirmWO.isWoDoneOk && tcApproveModalType==2">
                        <label class="display-block control-label" style="text-align: left !important;" translate>Chọn nhân viên tài chính tổng công ty duyệt</label>
                        <select class="form-control display-block"
                                ng-model="vm.workingWO.emailTcTct" ng-disabled="!confirmWO.isWoDoneOk"
                                ng-options="tcTct.code as (tcTct.name+'-'+tcTct.code) for tcTct in tcTctEmails">
                            <option></option>
                        </select>
                    </div>
                    <div class="col-md-12" ng-if="!confirmWO.isWoDoneOk">
                        <label class="display-block control-label" style="text-align: left !important;" translate>Nội dung</label>
                        <textarea style="max-width: 100%; width: 100%; height: 120px;" ng-model="rejectComment.text"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="$dismiss()">
        <i class="fa fa-ban"></i> Hủy bỏ
    </button>
    <button type="button" class="btn btn-secondary" ng-click="vm.validateRejectComment()?$close():return;">
        <i class="fa fa-floppy-o azure"></i> Ghi lại
    </button>
</div>

<!-- End tài chính duyệt Modal -->