<form class="form-horizontal row" role="form" id="formConfirm">
    <div class="form-body" style="padding-bottom: 100px;">
        <div class="portlet light">
            <div class="portlet-title background-title">
                <div class="caption">
					<span class="caption-subject bold lowercase" translate>Thông
						tin chung</span>
                </div>
                <div class="text-right margin-row-title">
                    <i data-toggle="collapse" data-target="#part11"
                       class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                </div>
            </div>
            <div id="part11" class="collapse in from-search">
                <div class="padding-width18">
                    <div class="border-gray">
                        <div class="clearfix position-relative">
                            <div class="clearfix form-group">
                                <div class="clearfix position-relative">
                                    <label class="col-md-2 control-label" translate>Mã tỉnh</label>
                                    <label class="col-md-4 control-label"
                                           ng-bind="caller.workItemOSSearch.catProvinceCode"></label> <label
                                        class="col-md-2 control-label" translate>Mã trạm</label> <label
                                        class=" col-md-4 control-label"
                                        ng-bind="caller.workItemOSSearch.catstationCode"></label>
                                </div>
                                <div class="clearfix">
                                    <label class="col-md-2 control-label" translate>Mã công
                                        trình</label>
                                    <label class="col-md-4 control-label"
                                           ng-bind="caller.workItemOSSearch.constructionCode"></label>
                                    <label class="col-md-2 control-label" translate>Hợp
                                        đồng đầu ra</label>
                                    <label class="col-md-4 control-label"
                                           ng-bind="caller.workItemOSSearch.cntContractCode"></label>
                                </div>
                                <div class="clearfix">
                                    <label class="col-md-2 control-label" translate>Hạng mục</label>
                                    <label class="col-md-4 control-label"
                                           ng-bind="caller.workItemOSSearch.name"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet light">
            <div class="portlet-title background-title" style="">
                <div class="caption">
					<span class="caption-subject bold lowercase" translate>Thông
						tin thực hiện, giám sát</span>
                </div>
                <div class="text-right margin-row-title">
                    <i data-toggle="collapse" data-target="#part2"
                       class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                </div>
            </div>
            <div id="part2" class="collapse in from-search">
                <div class="padding-width18">
                    <div class="border-gray">
                        <div class="clearfix position-relative">
                            <div class="clearfix form-group">

                                <div class="clearfix row margin-top">
                                    <label class="col-md-2 control-label " translate>Giá trị sản lượng (triệu
                                        VNĐ)</label>
                                    <input class="col-md-4 border-none" type ="text" ng-disabled="caller.disableDetailPopup"
                                      ng-model="caller.workItemOSSearch.quantity">
                                    <label class="col-md-2 control-label " translate>Nguồn
                                        việc</label>
<!-- vt-currency parsecurrency3 value-model="caller.workItemOSSearch.quantity1"  -->
                                    <div class="col-md-4 margin_top">
                                        <input style="float: left;" type="radio" id="status1"
                                               name="status"disabled
                                               ng-model="caller.workItemOSSearchDetail.groupLevel"
                                               ng-checked="caller.workItemOSSearchDetail.groupLevel == 1"
                                               value="1"> <span class="padding_radio">Công ty</span>
                                        <input style="float: left;" type="radio" id="status2"
                                               name="status"disabled
                                               ng-model="caller.workItemOSSearchDetail.groupLevel"
                                               ng-checked="caller.workItemOSSearchDetail.groupLevel == 2 ||caller.workItemOSSearch.groupLevel == 3 "
                                               value="2"> <span class="padding_radio">Chi
											nhánh</span>
                                    </div>

                                </div>
                                <div class="clearfix row margin-top">
                                    <label class="col-md-2 control-label " translate>Người
                                        thực hiện</label>
                                    <label class="col-md-4 control-label"
                                           ng-bind="caller.workItemOSSearchDetail.performerName"></label>


                                    <label class="col-md-2 control-label " translate>Hình
                                        thức thi công</label>

                                    <div class="col-md-4 margin_top">
                                        <input style="float: left;" type="radio" id="deployType1"
                                               name="deployType" disabled
                                               ng-model="caller.workItemOSSearchDetail.isInternal"
                                               ng-checked="caller.workItemOSSearchDetail.isInternal == 1"
                                               value="1"> <span class="padding_radio">Nội bộ</span>
                                        <input style="float: left;" type="radio" id="deployType2"
                                               name="deployType"disabled
                                               ng-model="caller.workItemOSSearchDetail.isInternal"
                                               ng-checked="caller.workItemOSSearchDetail.isInternal == 2"
                                               value="2"> <span class="padding_radio">Thuê
											ngoài</span>
                                    </div>
                                </div>
                                <div class="clearfix row margin-top">
                                    <label class="col-md-2 control-label " translate>Ngày
                                        thực hiện</label>

                                    <div class="col-md-4 date_complete">
                                        <label class=" control-label">{{caller.workItemOSSearchDetail.startingDate | date:'d/M/yyyy'}} - {{caller.workItemOSSearchDetail.completeDate | date:'d/M/yyyy'}}</label>
                                        <label></label>
                                    </div>


                                    <label class="col-md-2 control-label " translate>Tỉnh trưởng phụ trách</label>
                                    <label class="col-md-4 control-label"
                                           ng-bind="caller.workItemOSSearchDetail.supervisorName"></label>
                                </div>

                                   <div class="clearfix row margin-top">
                                    <label class="col-md-2 control-label" translate> Ghi chú</label>
                                    <label class="col-md-4 control-label"s
                                           ng-bind="caller.workItemOSSearchDetail.approveDescription"></label>

      								<label class="col-md-2 control-label" translate>Đối tác</label>
                                    <label class="col-md-4 control-label"
                                           ng-bind="caller.workItemOSSearchDetail.sysGroupName"></label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet light">
            <div class="portlet-title background-title" style="">
                <div class="caption">
                    <span class="caption-subject bold lowercase" translate>Lịch sử cập nhật ảnh</span>
                </div>
                <div class="text-right margin-row-title">
                    <i data-toggle="collapse" data-target="#part3"
                       class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                </div>
            </div>
            
            <!-- Huypq-27052020-start -->
			<div id="upload"
				class="portlet light bordered collapse in from-search">
				<div>
					<div id="upload" class="portlet light collapse in from-search">
						<div>
							<div>
								<center>Kéo thả các ảnh vào đây hoặc click để chọn
									ảnh</center>
							</div>
							<div class="clearfix">
								<div class="form-group col-md-12">
									<div class="col-md-12 k-content">
										<input name="filePackageMaterial" id="filePackageMaterial"
											k-select="caller.submitAttachFile" type="file"
											list-file-type="jpg,png,jpeg" />

									</div>
								</div>
								<div class="clearfix"></div>
								<center>
									<span style="color: gray">Dung lượng &#60;&#61; 100MB,
										định dạng jpg,png,jpeg</span>
								</center>
								<!-- <div class="clearfix">
									<div id="contractFileGrid" kendo-grid="caller.contractFileGrid"
										k-options="caller.gridFileOptions" k-editable="false"
										k-on-change="onGridChange(kendoEvent, { selected: selected }, data)"></div>
								</div> -->
								<script>
									$(document)
											.ready(
													function() {
														var caller = angular
																.element(
																		document
																				.getElementById('formConfirm'))
																.scope().caller;
														var urlUpload = window.location.protocol
																+ '//'
																+ window.location.hostname
																+ ':'
																+ window.location.port;

														function onSuccess(data) {
															caller
																	.callback(data);
														}
														//	setTimeout(function(){ 
														$(
																"#filePackageMaterial")
																.kendoUpload(
																		{
																			async : {
																				/* saveUrl : urlUpload
																						+ API_URL
																						+ "fileservice/uploadATTT", */
																				removeUrl : urlUpload
																						+ API_URL
																						+ "fileservice/removeFileUpload",
																			/* autoUpload : true */

																			},
																			select : caller.submitAttachFile,
																			validation : {
																				allowedExtensions : [
																						".jpg",
																						".png",
																						".jpeg" ]
																			},
																			success : onSuccess,
																			localization : {
																				uploadSelectedFiles : "Chọn tệp"
																			}

																		});
														;
														//}, 1000);
													});
								</script>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Huy-end -->
            
            <div id="part3" class="collapse in from-search" ng-if="caller.workItemOSSearch.listImage.length > 0">
            	<div class="padding-width18">
					<div class="border-gray">
						<div class="clearfix position-relative">
							<div>
								<div style="width: 500px; height: 500px; margin: auto;">
									<img class="image-cus" ng-src="data:image/jpg;base64,{{caller.imageSelected.base64String}}">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="padding-width18">
					<div class="border-gray">
						<div class="clearfix position-relative">
							<div ng-repeat="image in caller.workItemOSSearch.listImage">
								<div class="wrap-image" ng-click="caller.changeImage(image)">
									<img class="image-cus" ng-src="data:image/jpg;base64,{{image.base64String}}">
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>

        </div>


    </div>

    <div class="row modal-footer">
        <div class="col-md-12 text-right">
            <button type="button"
                    class="btn btn-qlk padding-search-right closeQLK" id="cancel"
                    ng-click="caller.cancelConfirmPopup()" translate>Đóng
            </button>
                <button type="button"
                        id="savepopupAppQuantity"
                        class="btn btn-qlk padding-search-right "
                        ng-hide="{{caller.workItemOSSearch.abc === '2'  || (!!caller.workItemOSSearch.quantityByDate && caller.workItemOSSearch.quantityByDate == 1)}}"
                        ng-click="caller.saveCancelConfirmPopup(caller.workItemOSSearch)" translate>
                    Hủy xác nhận
                </button>
            <button type="button"
                    class="btn btn-qlk padding-search-right  confirmpopupApp"
                    id ="confirmpopupApp"
                    ng-hide="{{caller.workItemOSSearch.abc === '2' || (!!caller.workItemOSSearch.quantityByDate && caller.workItemOSSearch.quantityByDate == 1)}}"
                    ng-click="caller.approveQuantity(caller.workItemOSSearch)"
                    translate>Xác nhận
            </button>
            <button type="button"
                    class="btn btn-qlk padding-search-right  confirmpopupApp"
                    id ="approvepopupApp"
                    ng-hide="{{caller.workItemOSSearch.abc === '3'  || (!!caller.workItemOSSearch.quantityByDate && caller.workItemOSSearch.quantityByDate == 1)}}"
                    ng-click="caller.approveCompleteQuantity(caller.workItemOSSearch)"
                    translate>Xác nhận
            </button>
        </div>

    </div>
</form>
