<style>
    .app-modal-window .modal-dialog {
        min-width: 1000px;
    }

    .modal-content{
        width: 100%;
        padding: 0;
    }

    .close-modal-x{
        position: absolute;
        top: 6px;
        right: 6px;
    }

    .input-half{
        width: 40%;
        display: inline;
    }

    .display-block{
        display: block;
        width: 100%;
    }

    .portlet-title{
        display: none;
    }

</style>

<!-- Edit TR Modal -->

<div class="modal-header" style="background-color: #33CCCC;">
    <h5 class="modal-title">Thêm mới/Sửa dự án HCQT</h5>
    <button type="button" class="close close-modal-x" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form class="form-horizontal row" role="form">

        <div class="form-body">
            <div class="portlet light bordered">
                <div class="portlet-title background-title">
                    <div class="caption" >
                        <span class="caption-subject bold lowercase" translate>Thông tin</span>
                    </div>
                </div>
                <div id="workItem1" class="collapse in from-search">
                    <div class="clearfix position-relative">
                        <div class="clearfix">
                            <div class="form-group col-md-6">
                                <div class="col-md-4">
                                    <label class="form-horizontal control-label" translate>Mã dự án HCQT</label><span style="color:red !important;">*</span>
                                </div>
                                <div class="col-md-8">
                                    <input class=" form-control width100" type="text" ng-model="hcqtProject.code" name="dept" />
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="col-md-4">
                                    <label class="form-horizontal control-label" translate>Tên dự án HCQT</label><span style="color:red !important;">*</span>
                                </div>
                                <div class="col-md-8">
                                    <input class=" form-control width100" type="text" ng-model="hcqtProject.name" name="dept"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        </div>-->
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="$dismiss()">
        <i class="fa fa-ban"></i> Hủy bỏ
    </button>
    <button type="button" class="btn btn-secondary" ng-click="validateCreateNew()?$close():return;">
        <i class="fa fa-floppy-o azure"></i> Ghi lại
    </button>
</div>

<!-- End edit tr Modal -->