<form class="form-horizontal row" novalidate="" name="form" xmlns="http://www.w3.org/1999/html">
    <div class="form-body" style="padding-bottom: 100px;">
        <div class="portlet light">
            <div id="part1" class="collapse in from-search">
                <div class="padding-width18">
                    <div class="">
                        <div class="clearfix position-relative">
                            <div class="clearfix form-group">

                                <div class="clearfix position-relative">
                                    <label class=" control-label" translate>Bạn có đồng ý xóa hay không?</label>
                                   
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- tatph - comment -->
    <div class="row modal-footer">
        <div class="col-md-12 text-right">
            <button type="button"
                    class="btn btn-qlk padding-search-right closeQLK" id="cancel"
                    ng-click="caller.cancelConfirmPopup()" translate>Hủy bỏ
            </button>
            <button type="button" id="savepopupCancel"
                    class="btn btn-qlk padding-search-right saveQLK"
                    ng-click="caller.deleteTC()" translate>Xác nhận
            </button>
        </div>

    </div>
</form>


