<style>
.tooltiphide_search_advance {
	position: absolute !important;
	right: 0px;
}

.tooltipshow_search_advance {
	position: absolute !important;
	right: 0px;
}

button.search_advance {
	font-size: 19px;
	pointer-events: visible;
	z-index: 9;
	cursor: pointer;
	padding: 10px;
	border: medium none;
	display: inline-block;
	position: absolute;
	top: -3px;
	right: 0px;
	background: transparent none repeat scroll 0% 0%;
}

.tooltip1:hover .tooltiptext {
	visibility: visible;
}

.tooltip1 button.search_advance span {
	font-size: 12px;
}

.tooltip1 .tooltiptext {
	visibility: hidden;
	width: 70px;
	background-color: #000;
	color: #FFF;
	text-align: center;
	border-radius: 6px !important;
	padding: 5px 0px;
	top: -30px;
	left: -17px;
	word-break: break-all;
	position: absolute;
	z-index: 1;
	font-style: normal;
}

html {
	overflow-y: scroll;
}
</style>

<div data-ng-controller="effectiveCalculateController as vm"
	id="effectiveCalculateSearch">
	<div ng-show="vm.showSearch">
		<p class="text-brecum" translate>{{vm.String}}</p>
	</div>
	<div class="portlet light bordered">
		<div class="portlet-title background-title">
			<div class="clear-fix">
				<div class="col-md-3 margin_top" ng-init="vm.option1Show = 1">
					<input style="float: left;" type="radio" id="typeBTS"
						name="typeBTS" ng-model="vm.option1Show" ng-click = "vm.chooseTab(1)" ng-value="1"> <label
						style="font-weight: lighter; font-size: medium;" for="state"
						class="padding_radio">BTS</label> 
					<input style="float: left;"
						type="radio" id="typeDAS" name="typeDAS" ng-model="vm.option1Show" ng-click="vm.chooseTabDAS(10)"
						ng-value="2"> <label
						style="font-weight: lighter; font-size: medium;" for="state1"
						class="padding_radio">CDBR+DAS</label>
					<!-- <label><input style=" float: left;" type="radio" id="typeBTS" name="typeBTS" ng-model="vm.formEffectiveCalculate.bts" 
                    ng-value="1">BTS</label>
                    <label><input style=" float: left;" type="radio" id="typeDAS" name="typeDAS" ng-model="vm.formEffectiveCalculate.cdbrDAS" 
                    ng-value="2">CDBR+DAS</label> -->
				</div>

				<div class=" col-md-4 margin_top">
					<button
						class="btn btn-qlk padding-search-right TkQLK background-color: green"
						style="width: 170px; float: left;" ng-click="vm.importFileBTS()"
						aria-hidden="true" ng-show="vm.option1Show == 1"
						uib-tooltip="Import TTHQ BTS" translate>Import TTHQ BTS</button>
					<button
						class="btn btn-qlk padding-search  TkQLK background-color: green"
						style="width: 250px; float: right;" ng-click="vm.importFileDAS()"
						ng-show="vm.option1Show == 2" uib-tooltip="Import TTHQ CDBR+DAS"
						translate>Import TTHQ CDBR+DAS</button>
				</div>
			</div>
		</div>
	</div>
	<!-- part BTS -->
	<div ng-show="vm.option1Show == 1" style="clear: both;">
		<div class="collapse in from-search row">
			<div class="row border-popup-management" style="display: flex">
				<div class="col-md-12 col-lg-2 border-right ">
					<div class="padding-height-20 form-horizontal row">
						<div class="form-body">
							<div class="row button-header" ng-init="vm.initClick()">
								<a class="col-md-6 col-lg-12 col-sm-3 col-xs-6 margin-top10"
									tabindex="1" ng-click="vm.chooseTab(1)"
									ng-class="{'active':vm.value==1}"> <label
									class="stt_radio1">Capex nguồn</label>
								</a> <a class="col-md-6 col-lg-12 col-sm-3 col-xs-6 margin-top10"
									tabindex="2" ng-click="vm.chooseTab(2)"
									ng-class="{'active':vm.value==2}"> <label
									class="stt_radio1">WACC</label>
								</a> <a class="col-md-6 col-lg-12 col-sm-3 col-xs-6 margin-top10"
									tabindex="3" ng-click="vm.chooseTab(3)"
									ng-class="{'active':vm.value==3}"> <label
									class="stt_radio1">Tỷ lệ giao khoán</label>
								</a> <a class="col-md-6 col-lg-12 col-sm-3 col-xs-6 margin-top10"
									tabindex="4" ng-click="vm.chooseTab(4)"
									ng-class="{'active':vm.value==4}"> <label
									class="stt_radio1">Chi phi xin đấu nối điện + GPMB</label>
								</a> <a class="col-md-6 col-lg-12 col-sm-3 col-xs-6 margin-top10"
									tabindex="5" ng-click="vm.chooseTab(5)"
									ng-class="{'active':vm.value==5}"> <label
									class="stt_radio1">Đơn giá thuê VTNet</label>
								</a> <a class="col-md-6 col-lg-12 col-sm-3 col-xs-6 margin-top10"
									tabindex="6" ng-click="vm.chooseTab(6)"
									ng-class="{'active':vm.value==6}"> <label
									class="stt_radio1">Giá Thuê TTr theo 1477</label>
								</a> <a class="col-md-6 col-lg-12 col-sm-3 col-xs-6 margin-top10"
									tabindex="7" ng-click="vm.chooseTab(7)"
									ng-class="{'active':vm.value==7}"> <label
									class="stt_radio1">Capex</label>
								</a> <a class="col-md-6 col-lg-12 col-sm-3 col-xs-6 margin-top10"
									tabindex="8" ng-click="vm.chooseTab(8)"
									ng-class="{'active':vm.value==8}"> <label
									class="stt_radio1">Chào giá</label>
								</a> <a class="col-md-6 col-lg-12 col-sm-3 col-xs-6 margin-top10"
									tabindex="9" ng-click="vm.chooseTab(9)"
									ng-class="{'active':vm.value==9}"> <label
									class="stt_radio1">Tính toán hiệu quả</label>
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-12 col-lg-10" ng-show="vm.value==1">
					<div class="form-body" >
						<div class="clearfix position-relative">
							<div id="targetGrid" kendo-grid="vm.targetGrid"
								k-options="vm.targetGridOptions1"
								k-on-change="vm.onGridChange(kendoEvent, { selected: selected }, data)"></div>
						</div>
					</div>
				</div>
				
				<div class="col-md-12 col-lg-10" ng-show="vm.value==2">
					<div class="form-body" >
						<div class="clearfix position-relative">
							<div id="targetGrid2" kendo-grid="vm.targetGrid2"
								k-options="vm.targetGridOptions2"
								><!-- k-on-change="vm.onGridChange(kendoEvent, { selected: selected }, data)" -->
								</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-12 col-lg-10" ng-show="vm.value==3">
					<div class="form-body" >
						<div class="clearfix position-relative">
							<div id="targetGrid3" kendo-grid="vm.targetGrid3"
								k-options="vm.targetGridOptions3"
								k-on-change="vm.onGridChange(kendoEvent, { selected: selected }, data)"></div>
						</div>
					</div>
				</div>
				
				<div class="col-md-12 col-lg-10" ng-show="vm.value==4">
					<div class="form-body" >
						<div class="clearfix position-relative">
							<div id="targetGrid4" kendo-grid="vm.targetGrid4"
								k-options="vm.targetGridOptions4"
								k-on-change="vm.onGridChange(kendoEvent, { selected: selected }, data)"></div>
						</div>
					</div>
				</div>
				
				<div class="col-md-12 col-lg-10" ng-show="vm.value==5">
					<div class="form-body" >
						<div class="clearfix position-relative">
							<div id="targetGrid5" kendo-grid="vm.targetGrid5"
								k-options="vm.targetGridOptions5"
								k-on-change="vm.onGridChange(kendoEvent, { selected: selected }, data)"></div>
						</div>
					</div>
				</div>
				
				<div class="col-md-12 col-lg-10" ng-show="vm.value==6">
					<div class="form-body" >
						<div class="clearfix position-relative">
							<div id="targetGrid6" kendo-grid="vm.targetGrid6"
								k-options="vm.targetGridOptions6"
								k-on-change="vm.onGridChange(kendoEvent, { selected: selected }, data)"></div>
						</div>
					</div>
				</div>
				
				<div class="col-md-12 col-lg-10" ng-show="vm.value==7">
					<div class="form-body" >
						<div class="clearfix position-relative">
							<div id="targetGrid7" kendo-grid="vm.targetGrid7"
								k-options="vm.targetGridOptions7"
								k-on-change="vm.onGridChange(kendoEvent, { selected: selected }, data)"></div>
						</div>
					</div>
				</div>
				
				<div class="col-md-12 col-lg-10" ng-show="vm.value==8">
					<div class="form-body" >
						<div class="clearfix position-relative">
							<div id="targetGrid8" kendo-grid="vm.targetGrid8"
								k-options="vm.targetGridOptions8"
								k-on-change="vm.onGridChange(kendoEvent, { selected: selected }, data)"></div>
						</div>
					</div>
				</div>
				
				<div class="col-md-12 col-lg-10" ng-show="vm.value==9">
					<div class="form-body" >
						<div class="clearfix position-relative">
							<div id="targetGrid9" kendo-grid="vm.targetGrid9"
								k-options="vm.targetGridOptions9"
								k-on-change="vm.onGridChange(kendoEvent, { selected: selected }, data)"></div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- Part CDBR+DAS -->
	<div ng-show="vm.option1Show == 2" style="clear: both;">
		<div class="collapse in from-search row">
			<div class="row border-popup-management" style="display: flex">
				<div class="col-md-12 col-lg-2 border-right ">
					<div class="padding-height-20 form-horizontal row">
						<div class="form-body">
							<div class="row button-header">
								<a class="col-md-6 col-lg-12 col-sm-3 col-xs-6 margin-top10"
									tabindex="10" ng-click="vm.chooseTabDAS(10)"
									ng-class="{'active':vm.value==10}"> <label
									class="stt_radio1">Gia Dinh</label>
								</a> <a class="col-md-6 col-lg-12 col-sm-3 col-xs-6 margin-top10"
									tabindex="11" ng-click="vm.chooseTabDAS(11)"
									ng-class="{'active':vm.value==11}"> <label
									class="stt_radio1">Gia Dinh Capex</label>
								</a>
							</div>
						</div>
					</div>
				</div>

				<!-- Tab-Detail start-->
				<div class="col-md-12 col-lg-10">
					<div class="form-body" ng-show="vm.value==10">
						<div class="clearfix position-relative">
							<div id="targetGrid10" kendo-grid="vm.targetGrid10"
								k-options="vm.targetGridOptions10"
								k-on-change="vm.onGridChange(kendoEvent, { selected: selected }, data)"></div>
						</div>
					</div>
					<div class="form-body" ng-show="vm.value==11">
						<div class="clearfix position-relative">
							<div id="targetGrid11" kendo-grid="vm.targetGrid11"
								k-options="vm.targetGridOptions11"
								k-on-change="vm.onGridChange(kendoEvent, { selected: selected }, data)"></div>
						</div>
					</div>
				</div>
				<!-- Tab-Detail end-->

			</div>
		</div>
	</div>

</div>
<script type="text/javascript">
 
		$('#effectiveCalculateSearch').keypress(function(event){
			/* $("input").change(function(){
		       $(this).val($.trim($(this).val()));
		      }); */
			document.onkeydown= keyDown;
            function keyDown(e){
	       		switch(e.keyCode) {
	       			case 27:
	       				$("#cancel").click();
	       				break;
	       			case 13:
	       				if($('.k-widget.k-window.fix-footer').css('display')!=='block'){
	       				$("#findCntContractMonthlyPlan").click();
						}
	       				break;
						
	       		}
       		} 
		});
	</script>
<style>
.portlet-title {
	font-size: 120%;
	padding: 10px;
}

.box {
	border: 2px solid;
}

.progressMenu {
	width: 140px !important;
}

.width-80 {
	height: 34px !important;
}

.k-grid-header th.k-header {
	text-align: center;
	height: auto;
	overflow: visible;
	white-space: normal;
}

.k-grid tr td {
	height: auto;
	white-space: normal;
}

.k-grid table tr:hover td {
	background: #c6ddf1 !important;
	cursor: pointer !important;
}

/* hiệu ứng nhấp nháy cho icon */
.warningSchedule {
	box-shadow: inset 0px 0px 2px 5px red;
	animation: myfirst 2s linear infinite;
	-moz-animation: myfirst 2s linear infinite; /* Firefox */
	-webkit-animation: myfirst 2s linear infinite; /* Safari and Chrome */
	-o-animation: myfirst 2s linear infinite; /* Opera */
}

@
keyframes myfirst { 0%,100% {
	box-shadow: inset 0px 0px 2px 4px red, 0px 0px 8px 4px red;
}

50%
{
box-shadow
:
 
inset
 
0
px
 
0
px
 
2
px
 
4
px
 
yellow
,
0
px
 
0
px
 
8
px
 
4
px
 
yellow
;
	
}
}
@
-moz-keyframes myfirst /* Firefox */ { 0%,100% {
	box-shadow: inset 0px 0px 2px 4px red, 0px 0px 8px 4px red;
}

50%
{
box-shadow
:
 
inset
 
0
px
 
0
px
 
2
px
 
4
px
 
yellow
,
0
px
 
0
px
 
8
px
 
4
px
 
yellow
;
	
}
}
@
-webkit-keyframes myfirst /* Safari and Chrome */ { 0%,100% {
	box-shadow: inset 0px 0px 2px 4px red, 0px 0px 8px 4px red;
}

50%
{
box-shadow
:
 
inset
 
0
px
 
0
px
 
2
px
 
4
px
 
yellow
,
0
px
 
0
px
 
8
px
 
4
px
 
yellow
;
	
}
}
@
-o-keyframes myfirst /* Opera */ { 0%,100% {
	box-shadow: inset 0px 0px 2px 4px red, 0px 0px 8px 4px red;
}
50%
{
box-shadow
:
 
inset
 
0
px
 
0
px
 
2
px
 
4
px
 
yellow
,
0
px
 
0
px
 
8
px
 
4
px
 
yellow
;
	
}
}
</style>
