<form class="form-horizontal">
			
            <!--panel-->
            <div class="panel panel-default" style="overflow:hidden">
                <div class="panel-heading" style="background:#26c2bf;font-weight: bold">Thông tin chi tiết </div>
					<br>
                    <div class="form-group col-md-12 clearfix">
                    	<div class="form-group col-md-6">
	                            <label class="col-md-4 control-label" translate>Xuất phát từ</label>
	                            <div class="col-md-8">
	                                <select kendo-drop-down-list style="width: 100%"
	                                            ng-model="caller.ticketDetail.source" ng-change="caller.changeSource(caller.ticketDetail.source)"
	                                            k-data-text-field="'name'" k-data-value-field="'code'"
	                                            k-data-source="caller.ticketSourceClose">
	                                </select>
	                            </div>
	                    </div>
                    
                        <div class="form-group col-md-6" ng-show="!!caller.ticketDetail.source">
                            <label class="col-md-4 control-label" translate>Nguyên nhân cụ thể</label>
                            <div class="col-md-8">
                                <select kendo-drop-down-list style="width: 100%"
                                            ng-model="caller.ticketDetail.reason"
                                            k-data-text-field="'name'" k-data-value-field="'name'" 
                                            k-data-source="caller.ticketReasonList">
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group col-md-12 clearfix">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label req" translate>Chi tiết(Note)</label>
                            <div class="col-md-10"> 
                                <textarea ng-model="caller.ticketDetail.note" id="aio_note_ticket"
                                       name="aio_note_ticket" style="width: 100%; height: 120px;"> </textarea>
                                <span class="k-invalid-msg" data-for="aio_note_ticket"></span>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="form-group col-md-6">
            </div>
            <div class="form-group col-md-6">
            <button type="button" style="width: 160px;align:center;"
            class="btn btn-qlk padding-search-right margin_right10 closeQLK"
            ng-click="caller.closeAll()" translate>Đóng
    		</button>
		    <button type="button" style="width: 160px;align:center;" class="btn btn-qlk padding-search-right margin_right10 saveQLK"
		            ng-click="caller.saveChangeTicketLog(caller.ticketDetail)" translate>{{caller.buttonSaveLabel}}
		    </button>
            </div>
</form>
