<style>

.amcharts-chart-div a {
	display: none !important;
}
.form-group{
	margin-top: 1em;
	border-radius: 5px;
}

.from-search{
	margin-top: 0px !important;
}
.k-pager-wrap .k-link{
	margin-top: 4px;
}

.icon-table{
	font-size: 20px;
	padding: 5px;
	color: #E0D014;
	text-align:center;
}

i:hover{
	color: #011995;
}
</style>
<div data-ng-controller="woConfigContractController as vm">
	<p class="text-brecum">{{vm.String}}</p>
	<form class="form-horizontal row" role="form">
		<div class="form-body">
			<div class="portlet light bordered">
				<div class="portlet-title background-title">
					<div class="caption">
						<span class="caption-subject bold lowercase" translate>Thông
							tin tìm kiếm </span>
					</div>
				</div>
				<div id="workItem1" class="collapse in from-search">
					<div class="clearfix position-relative">
						<div class="clearfix">
							<div class="form-group col-md-8">
								<label class="col-md-4 form-horizontal control-label " translate>Mã hợp đồng</label>
								<div class="col-md-8">
									<input class=" form-control width100" type="text"
										ng-model="vm.searchForm.contractCode" required />
									<script>
								</script>
								</div>
							</div>
							<div class="form-group col-md-2 text-center">
								<button type="button" id="doSearchQuantity"
										ng-click="vm.searchWoConfigContract()"
										class="btn btn-qlk padding-search-right searchQLK" translate>Tìm kiếm</button>
							</div>
						</div>
						<div id="borderCount"></div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="portlet light bordered">
		<div class="portlet-title background-title">
			<div class="caption">
				<span class="caption-subject bold lowercase" translate>Kết quả tìm kiếm</span>
			</div>
		</div>
		<div class="row mt5">
			<div class="col-md-12">
				<div class="portlet-body pull-left" >
					<button type="button" title="Thêm mới"  style="margin-left:0.6em;" ng-click="vm.createConfigWorkItem()"
							class="btn btn-default padding-button padding-search-right box-shadow">
						<i class="icon-plus"></i>Thêm mới
					</button>
				</div>
				<div class="pull-left" style="margin-left: 5px; margin-top: 8px;">
					<button type="button" ng-click="vm.importConfig()" class="btn btn-qlk excelQLK padding-search-right" translate> Import</button>
				</div>
			</div>
		</div>
		<div id="grid" class="collapse in from-search" >
			<div class="clearfix position-relative">
				<div kendo-grid="vm.workItemConfigListTable" k-options="vm.workItemConfigListTableOptions"></div>
			</div>
		</div>
	</div>
</div>
