<style>
.form-control[]: {
	background-color: #e5e5e5 !important;
}
</style>

<div id="assignHandoverPopup">
	<form class="form-horizontal row" role="form" name="addForm"
		id="addForm" k-options="validatorOptions">
		<div class="form-body padding10">
			<div class="portlet light bordered">
				<div class="form-body padding10">
					<div class="row caption" id="thongTinChungSpan">
						<span class="caption-subject bold lowercase"
							style="margin-left: 1px !important;" translate>Thông tin
							chung</span>
					</div>
					<div class="portlet light bordered collapse in from-search"
						id="thongTinChung">
						<div class="clearfix">
							<div class="form-group col-md-6">
								<label class="col-md-4 control-label req" translate>Năm</label>
								<div class="col-md-8">
									<select kendo-drop-down-list style="width: 100%"
										name="year" id="year"
										
										ng-model="caller.addForm.year" k-data-text-field="'name'"
										k-data-value-field="'code'" k-data-source="caller.yearList">
									</select>
								</div>
							</div>

							<div class="form-group col-md-6">
								<label class="col-md-4 control-label req" translate>Tháng</label>
								<div class="col-md-8">
									<select kendo-drop-down-list style="width: 100%;" name="month"
										id="month" ng-model="caller.addForm.month"
										k-data-text-field="'name'" k-data-value-field="'id'"
										
										k-data-source="caller.monthList"></select>
								</div>
							</div>
						</div>
						<div class="clearfix">
							<div class="form-group col-md-6">
								<label class="col-md-4 control-label req" translate>Giá
									trị hợp đồng</label>
								<div class="col-md-8">
									<input class=" form-control width100" 
										oninput="validity.valid||(value='');" step="0.0001" type="number" min="0"
										id="contractValue" ng-model="caller.addForm.contractValue"
										name="contractValue" />
								</div>
							</div>

							<div class="form-group col-md-6">
								<label class="col-md-4 control-label req" translate>Sản
									lượng thi công</label>
								<div class="col-md-8">
									<input class=" form-control width100"  id="tcValue"
										oninput="validity.valid||(value='');" step="0.0001" type="number" min="0"
										ng-model="caller.addForm.tcValue" name="tcValue" />
									<!-- <div class="One_icon">
										<i class="fa fa-times" aria-hidden="true"  
											ng-click="caller.resetFormAdd('hdSignDate')"></i>
									</div> -->
								</div>
							</div>

						</div>

						<div class="clearfix">
							<div class="form-group col-md-6">
								<label class="col-md-4 control-label req" translate>Doanh
									thu</label>
								<div class="col-md-8">
									<input class=" form-control width100"  id="doanhThu"
										oninput="validity.valid||(value='');" step="0.0001" type="number" min="0"
										ng-model="caller.addForm.doanhThu" name="doanhThu" />
									<!-- <div class="One_icon">
										<i class="fa fa-times" aria-hidden="true"  
											ng-click="caller.resetFormAdd('hdPerformDay')"></i>
									</div> -->
								</div>
							</div>


						</div>


					</div>









					<!-- ---------------- -->
					<div class="clearfix form-actions" align="right">
						<button type="button" id="saveData"
							class="btn btn-qlk   padding-search-right btn pull-right  saveQLK"
							ng-click="caller.save()" translate>Ghi lại</button>
						<button type="button" id="cancel"
							class="btn btn-qlk padding-search-right margin_right10 closeQLK btn pull-right"
							ng-click="caller.cancel()" translate>Hủy bỏ</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<script>
	$(document)
			.ready(
					function() {
						var caller = angular.element(
								document.getElementById('addForm')).scope().caller;
						//Disabled form

					});
</script>