<style>
    .app-modal-window .modal-dialog {
        min-width: 1000px;
    }

    .modal-content {
        width: 100%;
        padding: 0;
    }

    .close-modal-x {
        position: absolute;
        top: 6px;
        right: 6px;
    }

    .input-half {
        width: 40%;
        display: inline;
    }

    .display-block {
        display: block;
        width: 100%;
    }

    .animate-show-hide.ng-hide {
        opacity: 0;
    }

    .animate-show-hide.ng-hide-add,
    .animate-show-hide.ng-hide-remove {
        transition: all linear 0.5s;
    }

    .check-element {
        border: 1px solid black;
        opacity: 1;
        padding: 10px;
    }
</style>

<!-- Edit TR Modal -->

<div class="modal-header" style="background-color: #33CCCC;">
    <h5 class="modal-title">Tạo mới/Sửa cấu hình 5S</h5>
    <button type="button" class="close close-modal-x" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form class="form-horizontal row" role="form">
        <div class="form-body">
            <div class="portlet light bordered">
                <div id="tr_details_container" class="collapse in from-search">
                    <div class="clearfix position-relative">
                        <div class="clearfix">

                            <div class="form-group row">

                                <div class="col-md-6">
                                    <div>
                                        <label class="form-horizontal control-label" translate>Mã cấu hình 5s</label><span
                                            style="color:red !important;">*</span>
                                    </div>
                                    <input class="form-control display-block" ng-model="working5SConfig.ftConfigCode"
                                           placeholder="Mã cấu hình" ng-disabled="isEditing" maxlength="100"/>
                                    <span style="color:red;">{{vm.validateTrName}}</span>
                                </div>

                                <div class="col-md-6">
                                    <div>
                                        <label class="form-horizontal control-label" translate>Tên cấu hình 5s</label><span
                                            style="color:red !important;">*</span>
                                    </div>
                                    <input class="form-control display-block" ng-model="working5SConfig.ftConfigName" ng-disabled="isEditingAll"
                                           placeholder="Tên cấu hình" maxlength="100"/>
                                    <span style="color:red;">{{vm.validateTrName}}</span>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div>
                                        <label class="form-horizontal control-label" translate>Chi nhánh kỹ thuật</label><span
                                            style="color:red !important;">*</span>
                                    </div>
                                    <input class="form-control display-block" type="text" ng-disabled="isEditing"
                                           k-options="autoCompleteCdLevel2Options" kendo-auto-complete
                                           ng-model="working5SConfig.cdLevel2Name" maxlength="200"/>
                                </div>

                                <div class="col-md-6">
                                    <div>
                                        <label class="form-horizontal control-label" translate>Giao FT</label><span
                                            style="color:red !important;">*</span>
                                    </div>
                                    <input class="form-control display-block" type="text"
                                           k-options="autoCompleteFTOptions" kendo-auto-complete
                                           ng-model="working5SConfig.ftName" maxlength="200"/>
                                </div>

                            </div>

                            <div id="borderCount"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="$dismiss()">
        <i class="fa fa-ban"></i> Hủy bỏ
    </button>
    <button type="button" class="btn btn-secondary" ng-click="validateCreateNew()?$close():return;">
        <i class="fa fa-floppy-o azure"></i> Ghi lại
    </button>
</div>

<!-- End edit tr Modal -->
