<style>
#approvepopupApp:before {
	content: "";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size: 18px;
	padding-right: 0.5em;
	position: absolute;
	top: 1px;
	left: 7px;
	color: #0F0;
}

#approvepopupApp {
	padding: 4px 17px 4px 30px;
	width: initial;
	position: relative;
}

.no-padding {
	padding: 0;
}
</style>
<p class="text-brecum">{{vm.String}}</p>
<form class="form-horizontal row" role="form"
	id="quantityManagementSearch">
	<div class="form-body">
		<div class="portlet light bordered">
			<div class="portlet-title background-title">
				<div class="caption">
					<span class="caption-subject bold lowercase" translate>Thông
						tin tìm kiếm </span>

				</div>
				<div class="text-right margin-row-title">
					<i data-toggle="collapse" data-target="#workItem1"
						class="fa fa-chevron-circle-up" aria-hidden="true"></i>
				</div>
			</div>
			<div id="workItem1" class="collapse in from-search">
				<div class="clearfix position-relative">
					<div class="clearfix">
						<div class="form-group col-md-6">
							<label class="col-md-4 form-horizontal control-label " translate>Đơn
								vị</label>
							<div class="col-md-8">
								<div class="input-icon right ">
									<i class="fa fa-search directive"
										ng-click="vm.openDepartmentTo('dept')"></i>
								</div>
								<input kendo-auto-complete k-options="vm.deprtOptions1"
									ng-blur="vm.changeDataAuto('dept')"
									class=" form-control width100" type="text"
									ng-model="vm.importExportSearch.sysGroupName" name="dept"
									onclick="reset_msg();" required
									data-required-msg="Đơn vị không để trống" /> <span id="msg"
									data-for='dvn1' class='k-invalid-msg'></span>
								<div class="One_icon">
									<i class="fa fa-times" aria-hidden="true"
										ng-click="vm.cancelInput('dept')"></i>
								</div>
								<script>
									function reset_msg() {
										document.getElementById('msg').innerHTML = '';
									}
								</script>
							</div>
						</div>

						<div class="form-group col-md-6">
							<label class="col-md-4 control-label req" translate>Từ ngày</label>
							<div class="col-md-8">
								
								<div class="col-md-4 position-relative">
									<input kendo-date-picker date-time k-format="'dd/MM/yyyy'" name="dateFrom" id="dateFrom"
									 ng-model="vm.importExportSearch.dateFrom" style="width: 100%;" date-time ng-change="vm.checkErr1()" />
									<span data-for='dateFrom' id="errImpReq1" class='k-invalid-msg'></span>
									<span style="color: red" id="errImpReqMess1">{{vm.errMessage1}}</span>
								</div>
								<div class="col-md-2" style="text-align: center;">
									<label class="control-label" translate>đến</label>
								</div>
								<div class="col-md-4 position-relative">
									<input kendo-date-picker date-time k-format="'dd/MM/yyyy'" name="dateTo" id="dateTo" 
									ng-model="vm.importExportSearch.dateTo"
									 style="width: 100%;" date-time ng-change="vm.checkErr()" />
									<span data-for='dateTo' id="errImpReq" class='k-invalid-msg'></span>
									<span style="color: red" id="errImpReqMess">{{vm.errMessage}}</span>
								</div>
							</div>
							<div class="One_icon">
								<i class="fa fa-times" aria-hidden="true"
									ng-click="vm.cancelListYear()"></i>
							</div>
						</div>
					</div>
					
					<div class="clearfix">
						<div class="form-group col-md-6">
							<label class="col-md-4 form-horizontal control-label " translate>Hàng hoá</label>
							<div class="col-md-8">
								<div class="input-icon right ">
									<i class="fa fa-search directive"
										ng-click="vm.openGoodsTo('dept')"></i>
								</div>
								<input kendo-auto-complete k-options="vm.goodsOptions"
									ng-blur="vm.changeDataAuto('dept')"
									class=" form-control width100" type="text"
									ng-model="vm.importExportSearch.goodsName" name="dept"
									onclick="reset_msg();" required
									data-required-msg="Đơn vị không để trống" /> <span id="msg"
									data-for='dvn1' class='k-invalid-msg'></span>
								<div class="One_icon">
									<i class="fa fa-times" aria-hidden="true"
										ng-click="vm.cancelInputGoods('dept')"></i>
								</div>
								<script>
									function reset_msg() {
										document.getElementById('msg').innerHTML = '';
									}
								</script>
							</div>
						</div>
						</div>
					
					<div class="clearfix form-actions margin-top">
						<div class="row">
							<div class="col-md-12 text-center">
								<!-- <button type="button" id="find"
                                    class="btn green btn-outline padding-search-right"
                                    ng-click="vm.doSearch()" translate>Tìm kiếm</button> -->
								<button type="button" id="doSearchQuantity"
									ng-click="vm.doSearch()"
									class="btn btn-qlk padding-search-right searchQLK" translate>Tìm
									kiếm</button>
								<button type="button" id="excel"
									class="btn btn-qlk padding-search-right padding-lable excelQLK"
									ng-click="vm.exportFile()" translate>Xuất excel</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</form>
<div class="portlet light bordered">
	<div class="portlet-title background-title">
		<div class="caption">
			<span class="caption-subject bold lowercase" translate>Kết quả
				tìm kiếm: </span>&nbsp;<label class="control-label bold lowercase"
				id="appCountWorkItem">{{vm.countImportExport}}</label><label
				class="control-label bold lowercase">&nbsp;bản ghi</label>

		</div>
		<div class="text-right margin-row-title">
			<i data-toggle="collapse" data-target="#workItem2"
				class="fa fa-chevron-circle-up" aria-hidden="true"></i>
		</div>
	</div>
	<div id="workItem2" class="collapse in from-search">
		<div class="clearfix position-relative">
			<div id="importExportGrid" kendo-grid="vm.importExportGrid"
				k-options="vm.importExportGridOptions"></div>
		</div>
	</div>
</div>
<script type="text/javascript">
/* chinhpxn20180704_start */
    $('#quantityManagementSearch').keypress(function(event){
/* chinhpxn20180704_end */
        $("input").change(function(){
            $(this).val($.trim($(this).val()));
        });
        document.onkeydown= keyDown;
        function keyDown(e){
            switch(e.keyCode) {
                case 27:
                    $("#cancel").click();
                    break;
                case 13:
                    if($('.k-widget.k-window.fix-footer').css('display')!=='block'){
                        $("#doSearchQuantity").click();
                    }
                    break;

            }
        }
    });
</script>
